venv
.mypy_cache
__pycache__
config.json

.all_users.txt.swp
all_sites.txt
all_users.txt
blogs_users.txt
delete_users.txt
outside_users.txt
plugins.txt
multisite_users.csv
multisite_removals.csv
user_sitedata.csv
userdata.csv
sitedata.csv
sitestats.csv
plugindata.csv
themestats.csv
themedata.csv
inactive_plugins.csv
yearly_blog_reg.png
quarterly_blog_reg.png
yearly_user_reg.png
plugin_activation.png
pluginstats.csv
.gitignore
deletion_info.log
